/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.box {
    background: #f9f9f9;
    width: 400px;
    border-radius: 2px;
    margin: 0 auto 0 auto;
    padding: 30px 30px 30px 30px;
    border: #e6e6e6 1px solid;
}

.email {
    background: #f9f9f9;
    border: #ccc 0px solid;
    border-bottom: #ccc 1px solid;
    padding: 8px;
    width: 300px;
    color: #AAAAAA;
    margin: 10px;
    font-size: 1em;
    border-radius: 2px;
 
}

.btn {
    background: #35b3a2;
    width: 125px;
    padding: 8px;
    color: white;
    border-radius: 0px;
    border: #27ae60 1px solid;
    margin: 10px;
    font-weight: 800;
    font-size: 0.8em;
}

    .btn:hover {
        background: #35b3a2;
    }

.box2 {
    background: #f9f9f9;
    width: 720px;
    border-radius: 2px;
    margin: 0 auto 0 auto;
    padding: 30px 30px 30px 30px;
    border: #e6e6e6 1px solid;
}
.box3 {
    background: #ffffff;
    width: 310px;
    height: 220px;
    border-radius: 2px;
    border: #e6e6e6 1px solid;
}
