@page
@model ExpediteWeb.Pages.Main.applicationsModel
@{
    ViewData["Title"] = "applications";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
             background-color: #fafafa;
        }
        .sidenav {
          height: 100%;
          width: 200px;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          background-color: #ffffff;
          overflow-x: hidden;
          padding: 20px;
          border-top: #e6e6e6 2px solid;
          border-right: #e6e6e6 2px solid;
          margin-top: 56px;

        }

        .sidenav a {
          padding: 2px 0px 2px 0px;
          text-decoration: none;
          font-size: 15px;
          color: #35b3a2;
          display: block;
        }

        .sidenav a:hover {
          color: #0094ff;
        }

        .main {
          margin-left: 100px; /* Same as the width of the sidenav */
  
        }


    </style>
</head>
<body>

    <div class="sidenav">
        <p>Pinned Apps</p>
        <hr>
        <a asp-page="#">User Management</a>
        <a asp-page="#">User Management</a>
        <a asp-page="#">User Management</a>
        <a asp-page="#">User Management</a>

        <br>
        <p>Recent Apps</p>
        <hr>
        <a asp-page="#">User Management</a>
        <a asp-page="#">User Management</a>
        <a asp-page="#">User Management</a>
        <a asp-page="#">User Management</a>
    </div>

    <div class="main">
        <h3>Applications</h3>
        <hr>
        <div class="box3">
            <div style="background-color: #f9f9f9;"><p style="padding: 10px;">System Settings</p></div>
            <div style="padding-left: 10px; font-size: 0.8em;">
                <a asp-page="/Users/index"><p>User Management</p></a>
                <p>Communication</p>
            </div>
        </div>
    </div>

</body>
</html>
