@page
@model ExpediteWeb.Pages.Login.ForgotPasswordModel
@{
    ViewData["Title"] = "ForgotPassword";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

    </style>
</head>
<body >
    <div class="text-center">
        <h3 class="display-4"><b>Alchemative</b></h3>
        <br>
    </div>

    <form method="post" action="">
        <div class="box">
            <h3>Forgot Password</h3><br>

            <input type="email" name="email" value="" placeholder="Email or Phone" class="email" />
            <br>
            <a asp-page="SignIn"><div class="btn" style="width: 185px;">Send Me Instructions</div></a> <!-- End Btn -->
            <br>

            <p style="margin: 10px; padding: 8px;">Don't Have An Account <a style="color:#35b3a2" asp-page="SignUp">Sign Up</a> Now</p>

        </div> <!-- End Box -->

    </form>

</body>
</html>