@page
@model ExpediteWeb.Pages.Login.ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

    </style>
</head>
<body>
    <div class="text-center">
        <h3 class="display-4"><b>Alchemative</b></h3>
        <br>
    </div>

    <form method="post" action="">
        <div class="box">
            <h3>Reset Password</h3><br>

            <input type="email" name="email" value="" placeholder="Password" class="email" />
            <br>
            <input type="email" name="email" value="" placeholder="Confirm Password" class="email" />
            <br>
            <a asp-page="#"><div class="btn">Continue</div></a> <!-- End Btn -->

        </div> <!-- End Box -->

    </form>
    </body>
</html>