@page
@model ExpediteWeb.Pages.Login.LoginModel
@{
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .fp {
            font-size: 0.8em;
            margin: 10px; 
            padding: 8px;
            color:#35b3a2
        }
        .da {
            margin: 10px; 
            padding: 8px;
        }
            .da .a {
                color:#35b3a2;
            }
    </style>
</head>
<body>

    <div class="text-center">
        <h3 class="display-4"><b>Alchemative</b></h3>
        <br>
    </div>

    <form asp-controller="" method="post" asp-action="signup">
        <div class="box">
            <h3>Sign In</h3><br>

            <input asp-for="email" type="email" name="email" value="" placeholder="Email or Phone" class="email" />
            <br>
            <input asp-for="password" type="password" name="Password" value="" placeholder="Password" class="email" />
            <br>
            <button type="submit" class="btn">Continue</button>
            <a asp-page="authentication"><div class="btn">Continue</div></a>  <!-- End Btn -->
            <br>
            <a class="fp" asp-page="ForgotPassword">Forgot Password?</a><br>

            <p class="da">Don't Have An Account <a  asp-page="SignUp">Sign Up</a> Now</p>

        </div> <!-- End Box -->

    </form>
</body>
</html>