@page
@model ExpediteWeb.Pages.Login.SignUpModel
@{
    ViewData["Title"] = "SignUp";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .da {
            margin: 10px;
            padding: 8px;
        }

            .da .a {
                color: #35b3a2;
            }
    </style>
</head>
<body>

    <div class="text-center">
        <h3 class="display-4"><b>Alchemative</b></h3>
        <br>
    </div>

    <form asp-controller="" method="post" asp-action="signup">
        <div class="box">
            <h3>Sign Up</h3><br>

            <input asp-validation-for="email" asp-for="Email" type="email" name="email" value="" placeholder="Email or Phone" class="email" />
            <br>
            <input asp-validation-for="passwod" asp-for="Password" type="password" name="password" value="" placeholder="Password" class="email" />
            <br>
            <input asp-validation-for="Rpasswod" asp-for="Rpassword" type="password" name="rpassword" value="" placeholder="Retype Password" class="email" />
            <br>

            <button value="signup" type="submit" class="btn">Continue</button>
            <a asp-page="SignUpConfirmation"><div class="btn">Continue</div></a> <!-- End Btn -->
            <br>

            <p class="da">Already Got An Account <a  asp-page="SignIn">Sign In</a> Now</p>

        </div> <!-- End Box -->

    </form>

</body>
</html>