@page
@model ExpediteWeb.Pages.Login.SignUpConfirmationModel
@{
    ViewData["Title"] = "SignUpConfirmation";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .clr {
            color: #9d9d9d;
        }
        .da {
            margin: 10px;
            padding: 8px;
        }

            .da .a {
                color: #35b3a2;
            }
    </style>
</head>
<body>
    <div class="text-center">
        <h3 class="display-4"><b>Alchemative</b></h3>
        <br>
    </div>

    <form method="post" action="">
        <div class="box">
            <h3>Confirmation</h3>
            <p class="clr">A 6 digit verification code is just send to <b>03001234567</b></p><br>

            <input type="email" name="email" value="" placeholder="Enter Pin" class="email" />
            <br>
            <a asp-page="/Main/applications"><div class="btn">Submit</div></a> <!-- End Btn -->
            <br>

            <p class="da">Didn't Get The Code? Retry In <a asp-page="#">60 Sec</a> Now</p>

        </div> <!-- End Box -->

    </form>
</body>
</html>